* {
    box-sizing: border-box;
}

body {
    background-color: #212c39;
    font-family: "Helvetica","Arial",sans-serif;
    color: #d1e2ef;
}

.container {
    margin-bottom: 30px;
    margin-top: 20px;
}

.nav-block {
    display: flex;
    padding: 20px 0;
    align-items: center;
}

.nav-block form {
    width: 60%;
}

.nav-link {
    font-size: 30px;
    text-decoration: none;
    color: #d1e2ef;
    font-family: 'Fredoka One', cursive;
    font-weight: bold;
    letter-spacing: 1px;
    margin-right: 20px;
    transition: color .15s ease-in-out, 
        background-color .15s ease-in-out,
        border-color .15s ease-in-out,
        box-shadow .15s ease-in-out;
}

.nav-link:hover {
    color: #e08728;
}

.input-group-text {
    background-color: #353535;
    color: #d1e2ef;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.hover-block {
    width: 100%;
    background: linear-gradient(to top,rgba(0,0,0,0.05) 0%,rgba(0,0,0,0.6) 70%);
    pointer-events: none;
    font-weight: bold;
    padding: 15px;
    color: white;
    text-shadow: 0 2px 4px black;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
}

.card {
    position: relative;
    background-color: #353535;
    color: #d1e2ef;
    width: calc(25% - 12px);
    height: 500px;
    margin: 6px;
    margin-bottom: 20px;
    overflow: hidden;
}
.card:hover .hover-block { display: block }

.card-img-top { height: 80% }

.card-body { padding: 15px 15px 0 }

.card-text { padding: 10px }

.card-title {
    margin-bottom: 0.75rem;
    font-size: 15px;
}

.rating {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.favorites {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 0.85rem;
}

.btn-outline-secondary.added {
    color: #fff;
    background-color: #e08728;
    border-color: #e08728;
}

.btn-outline-secondary {
    color: #6c757d;
    background-color: transparent;
    background-image: none;
    border-color: #6c757d;
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #e08728;
    border-color: #e08728;
}

.btn-outline-secondary.focus, .btn-outline-secondary:focus {
    box-shadow: 0 0 0 0.2rem rgba(224, 135, 40,.5);
}

.btn-outline-secondary:not(:disabled):not(.disabled).active, 
.btn-outline-secondary:not(:disabled):not(.disabled):active, 
.show>.btn-outline-secondary.dropdown-toggle {
    color: #fff;
    background-color: #e08728;
    border-color: #e08728;
}

.fas { color: rgb(224, 135, 40)}
.far {color: rgb(224, 135, 40)}

.navigation {
    display: flex;
    justify-content: center;
}

.page-link { 
    background-color: #353535;
    color: #d1e2ef;
    border: 1px solid #ccc;
}
.page-link:hover {
    color: white;
    text-decoration: none;
    background-color: #ccc;
}

.page-link.active {
    z-index: 1;
    color: white;
    background-color: #6c757d;
    border-color: #ccc;
}
.page-link:focus {
    box-shadow: none;
}

.page-item.disabled .page-link {
    background-color: #353535;
}


/* ------------------ CONTENT CURRENT MOVIE -------------- */

.block-content {
    background-color: #353535;
    color: #d1e2ef;
    padding: 10px 15px;
    margin-bottom: 15px;
}

.header-content {
    display: flex;
    justify-content: center;
}

.header-left {
    width: 33.3%;
    padding: 10px;
}

.header-left__img {
    width: 100%;
    margin-bottom: 15px;
}

.header-right {
    width: 66.6%;
    padding: 10px;
}

.header-right h4 {
    margin-bottom: 20px;
}

.table th, .table td {
    border-top: none;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.3);
}

.video-wrapper {
    color: #d1e2ef;
}

.video-player {
    width: 100%;
}

/* ---------------------- RECOMMEND LIST ------------------ */

.cards-rec {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.card.card-rec {
    background-color: rgba(0,0,0,.3);
    width: calc(25% - 10px);
    height: 380px;
    margin: 5px;
    margin-bottom: 10px;
}

/* ------------------- PROFILE -------------- */

.profile {
    position: fixed;
    top: 40px;
    right: 45px;
}

.profile a {
    display: inline-block;
    padding: 15px;
    border-radius: 10px;
    color: #d1e2ef;
    text-decoration: none;
    border: 2px solid;
    transition: color .15s ease-in-out, 
        background-color .15s ease-in-out,
        border-color .15s ease-in-out,
        box-shadow .15s ease-in-out;
        
}
.profile a:hover {color: #e08728;}